version: '3.3'
services:
  nginx:
    build:
      context: ../../dockerfiles/nginx
      dockerfile: Dockerfile
    command: sh /home/scripts/start.sh
    volumes:
      - ../nginx/nginx_config_dev.conf:/etc/nginx/conf.d/default.conf
      - ../../app:/var/www/html
      - ../scripts/nginx:/home/scripts
    ports:
      - 80:80
  php:
    build:
      context: ../../dockerfiles/php
      dockerfile: Dockerfile_dev
    volumes:
      - ../../app:/var/www/html
      - ../scripts/php:/home/scripts
    command: sh /home/scripts/start.sh
  db:
    build:
      context: ../../dockerfiles/mysql
      dockerfile: Dockerfile
    volumes:
      - ../../data/mysql:/var/lib/mysql
      - ../../dumps:/home/dumps
      - ../scripts/mysql:/home/scripts
    ports:
      - 3306:3306
    command: sh /home/scripts/start.sh
networks:
  default:
    external:
      name: dockernet